$ns-speed ?= 500ms
$ns-shadow ?= 0 0 20px rgba(black, 0.3), 0 0 10px rgba(black, 0.1)
$ns-ease ?= cubic-bezier(.3, .5, 0, 1)
$ns-modal-backdrop ?= black
$ns-tint ?= #345
$ns-tint-strength ?= 0.05
$ns-nav-displacement ?= 40%
$ns-exit ?= 0.9

$noshadow ?= 0 0 20px rgba(black, 0.0), 0 0 10px rgba(black, 0.0)

/* ----------------------------------------------------------------------------------
 * Screen
 */

.-navstack
  position: relative
  overflow: hidden

.-navstack-nav,
.-navstack-pane
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
  transform: translate3d(0, 0, 0)

.-navstack-pane,
.full-screen
  background: white

.-navstack-nav
  z-index: 3
  pointer-events: none
  background: transparent

.-navstack-hide
  transform: translate3d(-9999px, 0, 0)

.-navstack-animating
  pointer-events: none

/* ----------------------------------------------------------------------------------
 * Animations: slide
 */

.slide-container
  background: $ns-tint
  transform: translate3d(0, 0, 0)

.slide-enter-forward
  z-index: 2
  animation: slide-enter-forward $ns-speed $ns-ease
  box-shadow: $ns-shadow

.slide-enter-backward
  z-index: 1
  animation: slide-enter-backward ($ns-speed * $ns-exit) $ns-ease

.slide-exit-forward
  z-index: 1
  animation: slide-exit-forward $ns-speed $ns-ease

.slide-exit-backward
  z-index: 2
  animation: slide-exit-backward ($ns-speed * $ns-exit) $ns-ease
  box-shadow: $ns-shadow

@keyframes slide-enter-forward
  0%
    transform: translate3d(100%, 0, 0)
    box-shadow: $noshadow
  100%
    transform: translate3d(0, 0, 0)

@keyframes slide-enter-backward
  0%
    transform: translate3d(-40%, 0, 0)
    opacity: (1.0 - $ns-tint-strength)
  100%
    transform: translate3d(0, 0, 0)

@keyframes slide-exit-forward
  0%
    transform: translate3d(0%, 0, 0)
  100%
    transform: translate3d(-40%, 0, 0)
    opacity: (1.0 - $ns-tint-strength)

@keyframes slide-exit-backward
  0%
    transform: translate3d(0%, 0, 0)
  100%
    transform: translate3d(100%, 0, 0)
    box-shadow: $noshadow

/* ----------------------------------------------------------------------------
 */
.nav-slide-enter-forward
  z-index: 2
  animation: nav-slide-enter-forward $ns-speed $ns-ease

.nav-slide-enter-backward
  z-index: 1
  animation: nav-slide-enter-backward ($ns-speed * $ns-exit) $ns-ease

.nav-slide-exit-forward
  z-index: 1
  animation: nav-slide-exit-forward $ns-speed $ns-ease
  opacity: 0

.nav-slide-exit-backward
  z-index: 2
  animation: nav-slide-exit-backward ($ns-speed * $ns-exit) $ns-ease
  opacity: 0

@keyframes nav-slide-enter-forward
  0%
    transform: translate3d($ns-nav-displacement, 0, 0)
    opacity: 0
  100%
    transform: translate3d(0, 0, 0)

@keyframes nav-slide-enter-backward
  0%
    transform: translate3d(-1 * $ns-nav-displacement, 0, 0)
    opacity: 0
  100%
    transform: translate3d(0, 0, 0)

@keyframes nav-slide-exit-forward
  0%
    transform: translate3d(0%, 0, 0)
    opacity: 1
  100%
    transform: translate3d(-1 * $ns-nav-displacement, 0, 0)

@keyframes nav-slide-exit-backward
  0%
    transform: translate3d(0%, 0, 0)
    opacity: 1
  100%
    transform: translate3d($ns-nav-displacement, 0, 0)

/* ----------------------------------------------------------------------------------
 * Animations: vertical slide
 */

.modal-container
  background: $ns-modal-backdrop

.modal-enter-forward
  z-index: 2
  animation: modal-enter-forward $ns-speed $ns-ease
  box-shadow: $ns-shadow

.modal-enter-backward
  z-index: 1
  animation: modal-enter-backward ($ns-speed * $ns-exit) $ns-ease

.modal-exit-forward
  z-index: 1
  animation: modal-exit-forward $ns-speed $ns-ease

.modal-exit-backward
  z-index: 2
  animation: modal-exit-backward ($ns-speed * $ns-exit) $ns-ease

@keyframes modal-enter-forward
  0%
    transform: translate3d(0, 110%, 0)
  100%
    transform: translate3d(0, 0, 0)

@keyframes modal-exit-backward
  0%
    transform: translate3d(0, 0, 0)
  100%
    transform: translate3d(0, 110%, 0)

@keyframes modal-exit-forward
  0%
    transform: scale(1.0)
    opacity: 1.0
  100%
    transform: scale(0.94)
    opacity: 0.1
  
@keyframes modal-enter-backward
  0%
    transform: scale(0.94)
    opacity: 0.1
  100%
    transform: scale(1.0)
    opacity: 1.0
