/* ----------------------------------------------------------------------------------
 * Screen
 */
.-navstack-pane {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  overflow: hidden;
}
/* ----------------------------------------------------------------------------------
 * Animations: slide
 */
.slide-enter-forward {
  z-index: 2;
  -webkit-animation: slide-enter-forward 500ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: slide-enter-forward 500ms cubic-bezier(0.3, 0.5, 0, 1);
}
.slide-enter-forward.-navstack-no-filter {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
}
.slide-enter-backward {
  z-index: 1;
  -webkit-animation: slide-enter-backward 350ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: slide-enter-backward 350ms cubic-bezier(0.3, 0.5, 0, 1);
}
.slide-exit-forward {
  z-index: 1;
  -webkit-animation: slide-exit-forward 500ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: slide-exit-forward 500ms cubic-bezier(0.3, 0.5, 0, 1);
}
.slide-exit-backward {
  z-index: 2;
  -webkit-animation: slide-exit-backward 350ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: slide-exit-backward 350ms cubic-bezier(0.3, 0.5, 0, 1);
}
.slide-exit-backward.-navstack-no-filter {
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
}
.slide-hide {
  -webkit-transform: translate(-9999px, 0);
  -ms-transform: translate(-9999px, 0);
  transform: translate(-9999px, 0);
}
/* ----------------------------------------------------------------------------------
 * Animations: vertical slide
 */
.modal-enter-forward {
  z-index: 2;
  -webkit-animation: modal-enter-forward 500ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: modal-enter-forward 500ms cubic-bezier(0.3, 0.5, 0, 1);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
}
.modal-enter-backward {
  z-index: 1;
  -webkit-animation: nil 500ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: nil 500ms cubic-bezier(0.3, 0.5, 0, 1);
}
.modal-exit-forward {
  z-index: 1;
  -webkit-animation: nil 500ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: nil 500ms cubic-bezier(0.3, 0.5, 0, 1);
}
.modal-exit-backward {
  z-index: 2;
  -webkit-animation: modal-exit-backward 500ms cubic-bezier(0.3, 0.5, 0, 1);
  animation: modal-exit-backward 500ms cubic-bezier(0.3, 0.5, 0, 1);
  -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 20px rgba(0,0,0,0.3), 0 0 10px rgba(0,0,0,0.1);
}
.modal-hide {
  -webkit-transform: translate(-9999px, 0);
  -ms-transform: translate(-9999px, 0);
  transform: translate(-9999px, 0);
}
/* ----------------------------------------------------------------------------------
 * Token animation
 */
@-webkit-keyframes slide-enter-forward {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
    box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes slide-enter-forward {
  0% {
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
  }

  100% {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-enter-forward {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
    box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-enter-backward {
  0% {
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes slide-enter-backward {
  0% {
    -ms-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    filter: brightness(0.8);
  }

  100% {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-enter-backward {
  0% {
    -webkit-transform: translate3d(-40%, 0, 0);
    -ms-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slide-exit-forward {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
}
@-ms-keyframes slide-exit-forward {
  0% {
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  100% {
    -ms-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    filter: brightness(0.8);
  }
}
@keyframes slide-exit-forward {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(-40%, 0, 0);
    -ms-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }
}
@-webkit-keyframes slide-exit-backward {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
    box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
  }
}
@-ms-keyframes slide-exit-backward {
  0% {
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  100% {
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
  }
}
@keyframes slide-exit-backward {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
    box-shadow: 0 0 20px rgba(0,0,0,0), 0 0 10px rgba(0,0,0,0);
  }
}
@-webkit-keyframes modal-enter-forward {
  0% {
    -webkit-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes modal-enter-forward {
  0% {
    -ms-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
  }

  100% {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal-enter-forward {
  0% {
    -webkit-transform: translate3d(0, 110%, 0);
    -ms-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes modal-exit-backward {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
  }
}
@-ms-keyframes modal-exit-backward {
  0% {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -ms-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
  }
}
@keyframes modal-exit-backward {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 110%, 0);
    -ms-transform: translate3d(0, 110%, 0);
    transform: translate3d(0, 110%, 0);
  }
}
@-webkit-keyframes nil {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-ms-keyframes nil {
  0% {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes nil {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

