/*
 * reset
 */

html {
  font-family: helvetica neue, open sans, sans-serif;
  color: #90909a;
  line-height: 1.5;
  font-size: 14px;
}

h1, h2, h3, p, ul, li {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a, a:visited {
  color: #f54;
  color: #e74c3c;
  text-decoration: none;
}

/*
 * antialiasing
 */

* {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * momentum scrolling
 */

.scrollable,
.scrollable > div {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

/*
 * template
 */

html, body {
  margin: 0;
  padding: 0;
  background: #f2f3f8;
}

#stack > .-navstack-pane {
  background: #fefefe;
}

@media (max-width: 480px) {
  html, body {
    overflow: hidden;
  }

  #stack {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

/*
 * Desktop: show a phone outline
 */

@media (min-width: 480px) {
  .phone {
    border-radius: 40px;
    border: solid 2px #fff;

    width: 310px;
    height: 540px;

    margin: 40px auto;
  }

  #stack {
    margin: 80px auto;
    width: 280px;
    height: 390px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }

  #stack,
  #stack > .-navstack-pane {
    border-radius: 2px;
  }
}

/*
 * Top bar
 */

.top-bar {
  background: #fff;
  border-bottom: solid 1px #eee;

  height: 40px;
  line-height: 40px;

  position: relative;
}

.top-bar .center {
  position: absolute;
  left: 60px;
  right: 60px;
  text-align: center;
  font-weight: bold;
  color: #222;
}

.top-bar .back {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40px;
}

/*
 * lol
 */

.back-button {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24pt;
}

/*
 * button
 */

.button,
.button:visited {
  display: inline-block;

  color: #1a8;
  border: solid 2px #1a8;
  background: white;
  padding: 8px 20px;
  border-radius: 4px;

  font-weight: bold;

  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: montserrat, sans-serif;
}

.button:hover {
  color: #1d9;
  border-color: #1d9;
}

.button:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*
 * welcome message
 */

.hello {
  text-align: center;
  margin-top: 100px;
  padding: 0 30px;
}

.hello h1,
.hello h3 {
  color: #222;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 6px;
}

.hello h1 {
  font-size: 2.7em;
  font-weight: 100;
}

.hello h1 + p {
  font-size: 1.1em;
  line-height: 1.4;
}


.hello p + a {
  margin-top: 30px;
}

/*
 * featurelist
 */

.feature-list {
  background: #fff;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}

.feature-list li>* {
  display: block;
  padding: 15px 20px;
  position: relative;
}

.feature-list li>*:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  left: 20px;
  bottom: 0;
  height: 0;
  border-bottom: solid 1px #eee;
}

.feature-list li:last-child >*:after {
  display: none;
}

.list-heading {
  margin: 20px 0 5px 0;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: montserrat, sans-serif;
  padding: 0 20px;
}
